go 1.21

use (
    ./packages/go-common
    ./packages/contracts
    ./projects/analytics
    ./projects/anomaly-detector
    ./projects/benchmark
    ./projects/control-actuator-go
    ./projects/controller
    ./projects/loadsim-operator
    ./projects/pipeline-operator
    ./projects/platform-api
    ./pkg
)